@charset "UTF-8";
:root {
  --color-primary: #c69963;
  --color-secondary: #101d2c;
  --color-primary-dark: #b28451;
  --color-grey-light: #f9f7f6;
  --color-grey-medium: #aaa;
  --color-grey-dark: #54483a;
  --color-dark: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-light);
}

.btn-inline {
  border: none;
  background-color: transparent;
  color: var(--color-secondary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  cursor: pointer;
}
.btn-inline:hover {
  color: var(--color-grey-medium);
}
.btn-inline:hover span {
  margin-left: 0.8rem;
}
.btn-inline:focus {
  outline: none;
  animation: pulsate 1s infinite;
}
.btn-inline span {
  margin-left: 0.3rem;
  transition: margin-left 0.3s;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--color-grey-light);
  box-shadow: var(--shadow-dark);
  color: var(--color-grey-dark);
  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: var(--color-grey-dark);
  border-bottom: var(--color-grey-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.content {
  height: auto;
  display: flex;
}

.sidebar {
  background-color: var(--color-secondary);
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-primary-dark);
  flex: 1;
}

.detail {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--color-grey-light);
  border-bottom: 1px solid var(--color-grey-dark);
}

.description {
  flex: 0 0 60%;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.user-reviews {
  flex: 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .user-reviews {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    flex-wrap: wrap;
    height: auto;
    gap: 1rem;
    padding-bottom: 0rem;
  }

  .content {
    flex-direction: column;
  }

  .sidebar {
    flex: 0 0 100%;
  }

  .detail {
    flex-direction: column;
  }

  .description {
    flex: 0 0 60%;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }
}
.logo {
  height: 5rem;
  width: 5rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light);
  padding: 1rem;
  border-radius: 5rem;
  border: none;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
}
.search__button {
  border: none;
  background-color: var(--color-grey-light);
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark);
}

.user-nav {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--color-grey-light);
}
.user-nav > * {
  padding: 0 1rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-primary);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  height: 2.3rem;
  width: 2.3rem;
  fill: var(--color-secondary);
}
.user-nav__notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-grey-light);
  position: absolute;
  top: 1.25rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark);
}
.user-nav__user-photo {
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

@media only screen and (max-width: 500px) {
  .search {
    flex: 0 0 70%;
    margin-right: auto;
  }

  .user-nav {
    margin-right: 0rem;
    flex: 0 0 100%;
    justify-content: center;
    gap: 1rem;
  }
  .user-nav > * {
    align-self: stretch;
    padding: 0.5rem;
  }
  .user-nav__notification {
    top: 0rem;
    right: 0rem;
  }
}
.side-nav {
  font-size: 1.5rem;
  list-style: none;
  margin-top: 3rem;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.2s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.side-nav__item:hover:before, .side-nav__item.active:before {
  transform: scaleY(1);
  width: 100%;
  color: var(--color-secondary);
}
.side-nav__item:active:before {
  background-color: var(--color-primary-dark);
}
.side-nav__link:link, .side-nav__link:visited {
  position: relative;
  z-index: 2;
  color: var(--color-grey-light);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
}
.side-nav__icon {
  width: 2rem;
  aspect-ratio: 1;
  margin-right: 1.5rem;
  fill: currentColor;
}

.legal {
  font-size: 0.9rem;
  text-align: center;
  padding: 2rem;
  color: var(--color-grey-light);
}

@media only screen and (max-width: 900px) {
  .side-nav {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
  }
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
  .side-nav__icon {
    margin-right: 1rem;
  }

  .legal {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .side-nav {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
  }
  .side-nav__item {
    position: relative;
  }
  .side-nav__item > * {
    margin-bottom: 0;
  }
  .side-nav__item span {
    display: none;
  }
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
  .side-nav__icon {
    margin-right: 0rem;
  }

  .legal {
    display: none;
  }
}
.gallery {
  display: flex;
}
.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-dark);
  color: var(--color-primary);
}
.overview__heading {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 2rem;
}
.overview__stars {
  margin-right: auto;
  display: flex;
}
.overview__icon, .overview__icon-location {
  width: 1.5rem;
  aspect-ratio: 1;
  fill: var(--color-primary);
}
.overview__location {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.overview__icon-location {
  fill: currentColor;
  margin-right: 0.5rem;
}
.overview__rating {
  background-color: var(--color-secondary);
  align-self: stretch;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview__rating-average {
  font-size: 2rem;
  margin-bottom: -3px;
}
.overview__rating-count {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.description .list {
  margin: 2rem 0;
  list-style: none;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-dark);
  border-bottom: 1px solid var(--color-grey-dark);
  display: flex;
  flex-wrap: wrap;
}
.description .list__item {
  flex: 0 0 50%;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.description .list__item:before {
  content: "";
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.7rem;
  background-image: url(../img/chevron-small-right.svg);
  background-size: cover;
  background-color: var(--color-primary);
  -webkit-mask-image: url(../img/chevron-small-right.svg);
  -webkit-mask-size: cover;
  mask-image: url(../img/chevron-small-right.svg);
  mask-size: cover;
}
.description .recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark);
  display: flex;
  align-items: center;
}
.description .recommend__count {
  margin-right: auto;
}
.description .recommend__photo {
  box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.description .recommend__photo:not(:last-child) {
  margin-right: -1.5rem;
}

.review {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1.4rem;
  overflow: hidden;
}
.review__text {
  margin-bottom: 1rem;
  position: relative;
  z-index: 3;
}
.review__user {
  display: flex;
  align-items: center;
}
.review__photo {
  height: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 1rem;
}
.review__user-box {
  margin-right: auto;
}
.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}
.review__user-date {
  font-size: 1rem;
  color: var(--color-grey-dark);
}
.review__rating {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 300;
}
.review:before {
  content: "“";
  position: absolute;
  font-size: 20rem;
  line-height: 1;
  top: -2.5rem;
  left: -2rem;
  color: var(--color-grey-medium);
  opacity: 0.5;
  font-family: sans-serif;
  z-index: 2;
}

.cta {
  padding: 3rem 0;
  text-align: center;
  background-color: var(--color-grey-dark);
  color: var(--color-primary);
}
.cta__book-now {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.cta .btn {
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.cta .btn > * {
  display: inline-block;
  height: 100%;
  transition: all 0.2s;
  width: 100%;
}
.cta .btn__visible {
  padding: 1.5rem 5.5rem;
}
.cta .btn__invisible {
  position: absolute;
  left: 0;
  top: -100%;
  padding: 1.5rem 0rem;
}
.cta .btn:hover .btn__visible {
  transform: translateY(100%);
}
.cta .btn:hover .btn__invisible {
  top: 0;
}
.cta .btn:focus {
  outline: none;
  animation: pulsate 1s infinite;
}

@media only screen and (max-width: 900px) {
  .cta {
    padding: 2rem 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .gallery > :last-child {
    width: 0;
  }
  .gallery__photo {
    width: 100%;
    flex: 0 0 100%;
  }

  .overview {
    flex-direction: column;
    align-items: center;
  }
  .overview__heading {
    font-size: 1.8rem;
    padding: 1rem;
  }
  .overview__stars {
    margin-right: 0;
  }
  .overview__location {
    padding: 1rem;
  }
  .overview__rating {
    position: absolute;
    align-self: flex-end;
  }

  .description .list__item {
    flex: 0 0 100%;
  }
  .description .recommend {
    flex-direction: column;
  }
  .description .recommend__count {
    margin-right: 0;
  }
  .description .recommend__photo:not(:last-child) {
    margin-right: -1rem;
  }

  .cta {
    padding: 3rem 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
